.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #f7f7f7;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: gray;
}