.idea/
.vscode/
node_modules/
build 
.DS_Store
*.tgz
my-app*
template/src/__tests__/__snapshots__/
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.changelog
.npm/
/back/web/web/settings.py
./back/web/tran/static
up.sh

# dependencies
/fron/.pnp
.pnp.js

# testing
/fron/coverage

# next.js
/fron/.next/
/fron/out/

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# misc
.DS_Store
*.pem