.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #24292e;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}