name: Publish Docker image and Deploy
on:
  push:
    branches:
      - 'dev'
jobs:
  build_and_push:
    name: Publish Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and Push to Docker Hub
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          file: fron.dockerfile
          tags: xuanlan/fwf:latest
  deploy:
    name: Deploy to server
    runs-on: ubuntu-latest
    needs: build_and_push
    steps:
      - name: deploy to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            docker pull xuanlan/fwf
            docker rm -f fwf
            docker run -d --name fwf -p 3000:3000 xuanlan/fwf
